* {
    margin: 0%;
    padding: 0%;
}

.gridbanner {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    background-color: #37517E;
    align-items: center;
    padding: 150px 60px 80px 90px;
}

.bannertext {
    padding-bottom: 60px;
}

.bannertext h4 {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
    padding: 10px 0px;
    font-weight: 500;
}

.bannertext h1 {
    font-family: "Jost";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    width: 450px;
    color: #FFFFFF;
}

.herobutton {
    padding-top: 10px;
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 20px;
}

.herobutton .btn-primary {
    font-family: "Open Sans", sans-serif;
    padding: 10px 25px;
    background-color: #47b2e4;
    border: transparent;
    color: white;
    font-size: 16px;
    border-radius: 50px;
}

.btn-primary:hover {
    font-family: "Open Sans", sans-serif;
    padding: 10px 25px;
    background-color: #dd821a;
    border: transparent;
    color: white;
    font-size: 16px;
    border-radius: 50px;
}

.herobutton .btn-secondary {
    font-family: "Open Sans", sans-serif;
    padding: 10px 25px;
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 16px;
    border-radius: 50px;
}

.bannerimg {
    width: 80%;
    height: 80%;
}

.Join-ON {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 50px;
    background: rgba(243, 245, 250, 1);
}

.Join-ON h1 {
    padding-bottom: 16px;
    font-family: "Jost", sans-serif;
    font-size: 25px;
    font-weight: 500;
    color: #37517e;
}

.Join-ON p {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

.in-email {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.in-email input#email {
    width: 516px;
    height: 41px;
    padding-left: 20px;
    border-radius: 40px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    border: none;
}

.in-email input#email:focus {
    outline: none;
    padding-left: 20px;
    font-family: "Open Sans", sans-serif;
}

.subs-btn {
    font-family: "Open Sans", sans-serif;
    border-radius: 50px;
    background-color: #47b2e4;
    color: #fff;
    padding: 13px 20px;
    border: none;
}

.footer {
    border-style: none;
}

footer .content {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 10px;
    align-items: start;
}

.info {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #777777;
}

.info .contact {
    padding: 30px;
}

.content .info,
.useful-link,
.social-network,
.our-services {
    padding-top: 40px;
}

footer .content h1,
h3 {
    color: #37517E;
}

.content h3 {
    padding-bottom: 15px;
}

.content li {
    list-style: none;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: #777777;
}

.btn-socnet {
    background-color: #47B2E4;
    border-radius: 40px;
    padding: 15px;
    width: 20px;
    border: none;
}

.copyright {
    display: flex;
    justify-content: space-between;
    background-color: #37517E;
    padding: 20px 40px;
    color: white;
}